#Node
node_modules
npm-debug.log

# Build directories
dist
.storybook-out/
storybook-static/

# Env files
.env
.env.local
.env.*.local

# Logs
logs/
*.log
*.pid
*.seed
*.pid.lock

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo


# coverage directory used by tools like istanbul
coverage/

# testing
jest-cache/
jest-transform-cache/
