.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--font-weight-normal);
  cursor: pointer;
  border: none;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 2px 4px darkslategray;
  border-radius: var(--radius-sm);

  .label {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.button:hover {
  text-decoration: none;
  opacity: 0.85;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.button:active {
  opacity: 0.9;
  box-shadow: 0 0 2px darkslategray;
  transform: translateY(2px);
}

.fullWidth {
  width: 100%;
  min-width: unset;
  max-width: unset;
  font-size: var(--font-size-base);
  padding: 0.75rem 1.5rem;
}

.loading {
  opacity: 0.7;
  pointer-events: none;
}

.loading .icon {
  animation: spin 1s linear infinite;
  margin-right: 10px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icon {
  display: inline-flex;
}

.iconStart {
  margin-right: var(--space-2);
}

.iconEnd {
  margin-left: var(--space-2);
}

/* Variants */
.primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.secondary {
  background-color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  color: var(--color-white);
}

.tertiary {
  background: none;
  color: var(--color-black);
}

.plain {
  background: none;
  border: none;
  box-shadow: none;
  color: var(--color-black);
  padding: var(--space-1);
}

.plain:hover {
  box-shadow: none;
  opacity: 0.7;
}

.plain:active {
  box-shadow: none;
  transform: none;
}

/* Sizes */
.xxl {
  font-size: var(--font-size-xl);
  padding: var(--space-4) var(--space-8);
  min-width: var(--width-300);
  max-width: var(--width-500);
}

.xl {
  font-size: var(--font-size-xl);
  padding: 0.75rem 1.75rem;
  min-width: var(--width-250);
  max-width: var(--width-300);
}

.l {
  font-size: var(--font-size-base);
  padding: 0.6rem 1.5rem;
  min-width: var(--width-200);
  max-width: var(--width-250);
}

.m {
  font-size: var(--font-size-md);
  padding: 0.5rem 1.25rem;
  min-width: var(--width-110);
  max-width: var(--width-150);
}

.s {
  font-size: var(--font-size-sm);
  padding: 0.4rem 1rem;
  min-width: var(--width-80);
  max-width: var(--width-110);
}

.xs {
  font-size: var(--font-size-xs);
  padding: 0.3rem 0.75rem;
  max-width: var(--width-80);
}

/* Shapes */
.square {
  border-radius: var(--radius-sm);
}

.circular {
  border: 2px solid transparent;
  border-radius: 50%;
  padding: 0.5rem;
  min-height: var(--width-40);
  min-width: var(--width-40);
}

.pill {
  border-radius: 9999px;
}

/* Adjust icon size for circular buttons */
.circular .icon {
  width: var(--width-20);
  height: var(--width-20);
}
