@mixin center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin respond-small {
  @media (max-width: var(--width-600)) {
    @content;
  }
}
@mixin respond-medium {
  @media (max-width: var(--width-900)) {
    @content;
  }
}
@mixin respond-large {
  @media (max-width: var(--width-1200)) {
    @content;
  }
}

/* Utility classes for margins and paddings */
$spacing-map: (
  xs: 'xs',
  sm: 'sm',
  md: 'md',
  lg: 'lg',
  xl: 'xl'
);

@mixin spacing($property, $size) {
  $space-value: map-get($spacing-map, $size);
  @if $space-value == null {
    @error "Invalid spacing size `#{$size}` passed to spacing mixin. Allowed values: #{map-keys($spacing-map)}";
  }
  #{$property}-top: var(--space-#{$space-value});
  #{$property}-right: var(--space-#{$space-value});
  #{$property}-bottom: var(--space-#{$space-value});
  #{$property}-left: var(--space-#{$space-value});
}
