@mixin center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin respond-small {
  @media (max-width: var(--width-600)) {
    @content;
  }
}
@mixin respond-medium {
  @media (max-width: var(--width-900)) {
    @content;
  }
}
@mixin respond-large {
  @media (max-width: var(--width-1200)) {
    @content;
  }
}

/* Utility classes for margins and paddings */
@mixin spacing($property, $size) {
  #{$property}-top: var(--space-#{$size});
  #{$property}-right: var(--space-#{$size});
  #{$property}-bottom: var(--space-#{$size});
  #{$property}-left: var(--space-#{$size});
}
